name: Lint n' Test

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python 3.7.x
        uses: actions/setup-python@v4
        with:
          python-version: "3.7.5"

      - name: Install dependencies
        run: pip install .[dev]

      - name: Lint
        run: make lint

      - name: Test
        run: make test
